# Dependencies
node_modules
.pnp
.pnp.js

# Build / Next
.next
out
build
dist

# Env
.env
.env.local
.env.*.local

# Prisma
prisma/*.db
prisma/*.db-journal

# IDE / OS
.idea
.DS_Store
*.log
npm-debug.log*

# Vercel
.vercel
